%h2 Student Sign In

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.label :cnet
    = f.text_field :cnet
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.submit "Sign In"
