%h2 Employer Sign In

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %table.formtable
    %colgroup
      %col.form_label_col
      %col.form_input_col
    %tr
      %td= f.label :email, "Email"
      %td= f.email_field :email
    %tr
      %td= f.label :password, "Password"
      %td= f.password_field :password
    - if devise_mapping.rememberable?
      %tr
        %td
        %td
          = f.check_box :remember_me
          = f.label :remember_me, "Remember Me"
    %tr
      %td
      %td= f.submit "Sign In"


%h2 Employer Registration

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  %p Please fill in the following information about yourself to register as an employer. After registering, you will receive an email once a reviewer has looked over your information and approved your account.
  = devise_error_messages!

  %table.formtable
    %colgroup
      %col.form_label_col
      %col.form_input_col
    %tr
      %td= f.label :firstname, "First Name"
      %td= f.text_field :firstname
    %tr
      %td= f.label :lastname, "Last Name"
      %td= f.text_field :lastname
    %tr
      %td= f.label :email, "Email"
      %td= f.email_field :email
    %tr
      %td= f.label :password, "Password"
      %td= f.password_field :password
    %tr
      %td= f.label :password_confirmation, "Confirm Password"
      %td= f.password_field :password_confirmation
    %tr
      %td= f.label :url, "URL"
      %td= f.text_field :url
    %tr
      %td= f.label :company, "Company"
      %td= f.text_field :company
    %tr
      %td= f.label :note_to_reviewer, "Note to Reviewer<br>(optional)".html_safe
      %td= f.text_area :note_to_reviewer
    %tr
      %td
      %td= f.submit "Sign Up"
