<div id="formcontainer">

<h2>Employer Sign In</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign In" %></div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>



<h2>Employer Sign Up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.label :email, "E-Mail" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :firstname, "First Name" %><br />
  <%= f.text_field :firstname %></div>

  <div><%= f.label :lastname, "Last Name" %><br />
  <%= f.text_field :lastname %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign Up" %></div>
<% end %>

</div>
