%h2 Edit Settings

%fieldset
  %h3 My Interests
  = form_for(@student, :url => student_path(@student), :method => :put) do |f|
    %p Update your interests to narrow down job postings to what fits you best.
    = f.error_messages
    %table.formtable
      %colgroup
        %col.form_label_col
        %col.form_field_col
      %tr
        %td= f.label :jobtyps, "Job Types"
        %td
          = f.check_box :interested_in_internships
          = f.label :interested_in_internships, "Internships"
          %br
          = f.check_box :interested_in_part_time
          = f.label :interested_in_part_time, "Part-Time Jobs"
          %br
          = f.check_box :interested_in_full_time
          = f.label :interested_in_full_time, "Full-Time Jobs"
      %tr
        %td
        %td= f.submit "Update"

%fieldset
  %h3 Email Settings
  = form_for(@student, :url => student_path(@student), :method => :put) do |f|
    = f.error_messages
    %table.formtable
      %colgroup
        %col.form_label_col
        %col.form_field_col
      %tr
        %td= f.label :email, "Email"
        %td= f.text_field :email
      %tr
        %td= label_tag :settings, "Message Options"
        %td
          = f.check_box :alert_on_new_posting
          = f.label :alert_on_new_posting, "Alert me whenever a new job is posted."
          %br
          = f.check_box :alert_on_new_recommendation
          = f.label :alert_on_new_recommendation, "Alert me when a new job matching my interests is posted."
      %tr
        %td= label_tag :digests, "Digests"
        %td
          %p Do you want to receive email alerts as soon as they happen, or would you prefer to have a single summary sent once a week?
          = f.radio_button :digests, "true"
          = f.label :digests_true, "Yes, send me summaries of any new postings."
          %br
          = f.radio_button :digests, "false"
          = f.label :digest_false, "No, send me an email right away every time a new job matching my interests appears."
      %tr
        %td
        %td= f.submit "Update"
