%h2 Employment Opportunities in IT for UChicago Students

- if current_student.nil? && current_employer.nil?
  %div#loginbanner
    %p
      %strong Students:
      Sign in with your CNET ID to get customizable job alerts and recommendations.
    %p
      %strong Employers:
      Create an account to post new jobs and internships.

%div#content
  - columns = ["dateposted", "deadline", "organization", "position"]

  - if current_student && current_student.is_admin?
    - columns << "remove" << "state"
    - if Employer.accounts_pending_approval?
      %p There are new employer accounts pending approval:
      %ul
        - @accounts_pending_approval.each do |employer|
          %li= link_to "#{employer.firstname} #{employer.lastname} (#{employer.company})", employer_path(employer)
    - else
      %p There are no new employer accounts at the moment.
    - if Posting.postings_pending_approval?
      %p There are new job postings pending approval.
      %ul
        - @postings_pending_approval.each do |posting|
          %li= link_to "#{posting.title} (from #{posting.employer.firstname} #{posting.employer.lastname} at #{posting.employer.company})", posting_path(posting)
    - else
      %p There are no new job postings at the moment.
    - if current_student.reviewed_pending_posts.count > 0
      %p The following posts you requested changes for have been resubmitted for approval:
      %ul
        - current_student.reviewed_pending_posts.each do |posting|
          %li= link_to "#{posting.title} (from #{posting.employer.firstname} #{posting.employer.lastname} at #{posting.employer.company})", posting_path(posting)

  - if current_employer
    - columns << "edit" << "remove" << "state"
    - if not @postings_needing_revision.empty?
      %p Changes have been requested for the following postings before they are made public:
      %ul
        - @postings_needing_revision.each do |posting|
          %li= link_to posting.title, edit_posting_path(posting)
    - if not @postings_rejected.empty?
      %p The following posts have been rejected:
      %ul
        - @postings_rejected.each do |posting|
          %li= link_to posting.title, edit_posting_path(posting)
    %p= link_to "Add a new job posting", new_posting_path

  %form{:action => postings_path, :method => :get}
    - if current_student
      = posting_view_select(current_student, @view)
      %input{:type => "submit", :value => "Go →", :class => "view_change"}
    - elsif current_employer
      = posting_view_select(current_employer, @view)
      %input{:type => "submit", :value => "Go →", :class => "view_change"}

  - unless @internships.nil?
    %fieldset
      %h3 Internships
      - if @internships.count > 0
        = render 'postings/postings_table', :postings => @internships, :columns => columns
      - else
        %p No internships are available at this time.

  - unless @parttime.nil?
    %fieldset
      %h3 Part-Time Jobs
      - if @parttime.count > 0
        = render 'postings/postings_table', :postings => @parttime, :columns => columns
      - else
        %p No part-time jobs are available at this time.

  - unless @fulltime.nil?
    %fieldset
      %h3 Full-Time Jobs
      -if @fulltime.count > 0
        = render 'postings/postings_table', :postings => @fulltime, :columns => columns
      - else
        %p No full-time jobs are available at this time.
