%h2 New Job Posting

= form_for(@posting, :as => "posting", :url => postings_path) do |f|
  - if @posting.errors.any?
    #error_explanation
      %h2 #{pluralize(posting.errors.count, "error")} prohibited this job from being saved:
      %ul
        - @posting.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %span.help{:alt => "The title of the position"} ?
    %br
    = f.text_field :title
  .field
    = f.label :company
    %span.help{:alt => "Your company affiliation, or 'Individual' if none"} ?
    %br
    = f.text_field :company
  .field
    = f.label :description
    %span.help{:alt => "A description of the position, including requirements"} ?
    %br
    = f.text_area :description
  .field
    = f.label 'Tags'
    %span.help{:alt => "Identify key words that will help people with specific interests find your job listing"} ?
    %br
    = f.hidden_field :tags
    #taglist
      %button#addtag +
  .field
    = f.label :jobtype
    %span.help{:alt => "Is the position an internship or a part-time or full-time job?"} ?
    %br
    - ['Full Time', 'Part Time', 'Internship'].each_with_index do |jobtype, i|
      = f.radio_button :jobtype, i
      = jobtype.humanize
  .field
    = f.label :active_until
    %span.help{:alt => "When must all applications be received?"} ?
    %br
    = f.date_select :active_until
  .field
    = f.label :contact
    %span.help{:alt => "How can you be contacted?"} ?
    %br
    = f.text_field :contact
  .field
    = f.label :url
    %span.help{:alt => "Is there a website people can visit for more information?"} ?
    %br
    = f.text_field :url
  .actions
    = f.submit "Submit"
