%h2 Job Posting

- if @posting.has_comments?
  %fieldset
    %h3 Reviewer Comments
    = simple_format @posting.comments

%table.job_posting
  %colgroup
    %col.posting_label
    %col.posting_description
  %tr
    %th Title
    %td= @posting.title
  %tr
    %th Company
    %td= @posting.company
  %tr
    %th Description
    %td.preformatted= simple_format @posting.description
  %tr
    %th URL
    %td= link_to url_with_protocol(@posting.url), url_with_protocol(@posting.url), :target => "_blank"
  %tr
    %th Deadline
    %td= @posting.active_until.strftime("%d %B %Y")
  %tr
    %th Contact
    %td= @posting.contact
  %tr
    %th Tags
    %td
      - @posting.tags.each do |tag|
        .token= tag.name
  - if @posting.owned_by?(current_student, current_employer)
    %tr
      %th Status
      %td= @posting.state_as_string

- if current_student && current_student.is_admin?
  = form_for(@posting, :as => "posting", :url => posting_path(@posting)) do |f|
    = f.label :comments, "Comments"
    %br
    = f.text_area :comments, :class => "posting_comments"
    %br
    = f.submit "Approve", :name => "approve", :class => "approve_btn"
    = f.submit "Request Changes", :name => "request_changes", :class => "request_changes_btn"
    = f.submit "Reject", :name => "reject", :class => "reject_btn"
