%h2 Job Posting

- if @posting.has_comments?
  %fieldset
    %h3 Reviewer Comments
    = simple_format @posting.comments

= link_to "Edit", edit_posting_path(@posting)
%table.job_posting
  %colgroup
    %col.posting_label
    %col.posting_description
  %tr
    %th Title
    %td= @posting.title
  %tr
    %th Company
    %td= @posting.company
  %tr
    %th Description
    - if @posting.rich_description
      %td.preformatted= @posting.description.html_safe
    - else
      %td.preformatted= simple_format @posting.description
  %tr
    %th Location
    %td= @posting.location
  %tr
    %th URL
    %td= link_to url_with_protocol(@posting.url), url_with_protocol(@posting.url), :target => "_blank"
  %tr
    %th Deadline
    %td= @posting.active_until.strftime("%d %B %Y")
  %tr
    %th Contact
    %td.preformatted= simple_format @posting.contact
  %tr
    %th Tags
    %td
      - @posting.tags.each do |tag|
        .token= tag.name
  %tr
    %th Job Type
    %td= @posting.job_type_as_string
  - if @posting.attachment.exists?
    %tr
      %th Attachment
      %td= link_to File.basename(@posting.attachment.url)[/^([^\?]*)/], @posting.attachment.url
  - if @posting.owned_by?(current_student, current_employer)
    %tr
      %th Status
      %td= @posting.state_as_string

- if current_student && current_student.is_admin? && @posting.pending?
  = form_for(@posting, :as => "posting", :url => posting_path(@posting)) do |f|
    = f.label :comments, "Comments"
    %br
    = f.text_area :comments, :class => "posting_comments"
    %br
    = f.submit "Approve", :name => "approve", :class => "approve_btn"
    = f.submit "Request Changes", :name => "request_changes", :class => "request_changes_btn"
    = f.submit "Reject", :name => "reject", :class => "reject_btn"
- elsif current_student && current_student.is_admin?
  = form_for(@posting, :as => "posting", :url => posting_path(@posting), :method => :delete) do |f|
    = f.submit "Remove", :class => "reject_btn", :confirm => "Are you sure you want to remove this posting? This will permanently remove it from our system."

  %br
  %br
  %h3 Plain Text
  %textarea.plaintext{:readonly => true}= @posting.plaintext
