%h2 Forgot your password?

%p Enter your email address below and you will receive an email with further instructions.

= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f|
  = devise_error_messages!
  %table.formtable
    %colgroup
      %col.form_label_col
      %col.form_input_col
    %tr
      %td= f.label :email, "Email"
      %td= f.email_field :email
    %tr
      %td
      %td= f.submit "Reset"
