<div id="formcontainer">
<h2>Student Sign In</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :cnet, "CNet ID" %><br />
  <%= f.text_field :cnet %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign in" %></div>
<% end %>
</div>
