%h2 All Employers

%p There #{@employers.one? ? 'is' : 'are'} currently #{pluralize @employers.count, 'employer'} registered.

%fieldset
  %table.jobtable
    %thead
      %tr
        %th{:class => sortable_class("id", @sort_by, @sort_order), "data-name" => "id"} ID
        %th{:class => sortable_class("lastname", @sort_by, @sort_order), "data-name" => "lastname"} Name
        %th{:class => sortable_class("company", @sort_by, @sort_order), "data-name" => "company"} Company
        %th{:class => sortable_class("email", @sort_by, @sort_order), "data-name" => "email"} Email
        %th{:class => sortable_class("number_of_posts", @sort_by, @sort_order), "data-name" => "number_of_posts"} Number of Posts
        %th View
        %th Edit
        %th Remove
    %tbody
      - @employers.each do |employer|
        %tr
          %td= employer.id
          %td #{employer.firstname} #{employer.lastname}
          %td= employer.company
          %td= employer.email
          %td= employer.postings.count
          %td= link_to "View", employer_path(employer)
          %td= link_to "Edit", edit_employer_path(employer)
          %td= link_to "Remove", employer_path(employer), :method => :delete, :confirm => "Are you sure you want to remove this employer? This will permanently remove them and any posts they made from our system."
