<% 

colname = { "dateposted" => "Date Posted",
            "deadline" => "Deadline",
            "organization" => "Organization",
            "position" => "Position" }

columns ||= [] 
includetags ||= false
%>

<table class="jobtable">

<% columns.each do |col| %>
<col class="<%=col%>">
<% end %>

<thead>
    <tr>
        <% columns.each do |col| %>
            <th><%=colname[col]%></th>
        <% end %>
    </tr>
</thead>
<tbody>
    <% jobpostings.each do |posting| %>
        <tr>
        <% columns.each do |col| %>
            <td>
            <% case col
               when "dateposted" %>
                <%= posting.created_at.strftime("%d %B %Y") %>

            <% when "deadline" %>
                <%= posting.deadline.strftime("%d %B %Y") %>

            <% when "organization" %>
                <%= posting.employer.affiliation %>

            <% when "position" %>
                <%= link_to posting.title, job_posting_path(posting) %>

            <% when "edit", "review" %>
                <%= link_to col=="edit"? "Edit" : "Review", edit_job_posting_path(posting) %>

            <% end %>
            </td>
        <% end %>

        </tr>
        <% if includetags %>
        <tr>
            <td colspan="4">
                <% posting.tags.each do |tag| %>
                    <div class="token"><%= tag.name %></div>
                <% end %>
            </td>
        </tr>
        <% end %>
    <% end %>
</tbody>
</table>

