!!!
%html
  %head
    %title TechJobs
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert

    = render :partial => "layouts/login"

    %h1= link_to('The CS Job Board', root_path)
    %h2 Employment Opportunities in IT for UChicago Students

    = yield
