<!DOCTYPE html>
<html>
    <head>
        <title>The CS Job Board</title>
        
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        
    </head>
    <body>
        <div id="wrap">
            <img src="http://www.cs.uchicago.edu/i/header_background.jpg">
            <div id="header">
                <div id="loginpanel">
                    <% if user_signed_in? %>
                    <%= link_to('Dashboard', dashboard_path, :class=>"loginpanel") %>        
                    <br/>
                    <%= link_to('Sign Out', destroy_user_session_path, :method => :delete, :class=>"loginpanel") %>        
                    <% else %>
                    <%= link_to('Students', new_user_session_path, :class=>"loginpanel")  %>  
                    <% end %>
                    <br/>
                    <% if user_signed_in? %>
                      <%= link_to('Edit Account', edit_user_registration_path, :class=>"loginpanel") %>
                    <% else %>
                      <%= link_to('Employers', new_user_registration_path, :class=>"loginpanel")  %>
                    <% end %>
                </div>
                <h1><%= link_to('The CS Job Board', root_path) %></h1>
                <h2>Employment Opportunities in IT for UChicago Students</h2>
            </div>

	    <% flash.each do |key, value| -%>
	    <div class="notice"><%= value %></div>
	    <% end -%>

	    <%= yield %>

        </div>
    </body>
</html>
