!!!
%html
  %head
    %title University of Chicago Computer Science Job Board
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page-wrap
      %p.notice= notice
      %p.alert= alert

      #page-header
        #page-header-wrapper
          #page-title
            %h1= link_to('Computer Science Job Board (Beta)', root_path)
          #page-wordmark
            = link_to image_tag('uc_wordmark_phoenix.png'), 'http://www.uchicago.edu/'


      #page-body
        #page-content
          = render :partial => "layouts/login"

          = yield

          #spacer
    
    #page-footer
      #page-footer-content
