<!DOCTYPE html>
<html>
    <head>
        <title>TechJobs</title>
        
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

        <script type="text/javascript">
            $(document).ready(function() {
                var i = 0;
                $(".jobtable > tbody > tr").each(function() {
                    if(i % 4 == 0 || i % 4 == 1) {
                        $(this).addClass("odd");
                    } else {
                        $(this).addClass("even");
                    }
                });
            });
        </script>
        
    </head>
    <body>
        <div id="wrap">
            <img src="http://www.cs.uchicago.edu/i/header_background.jpg">
            <div id="header">
                <div id="loginpanel">
                    <% if user_signed_in? %>
                    <%= link_to('Sign Out', destroy_user_session_path, :method => :delete, :class=>"loginpanel") %>        
                    <% else %>
                    <%= link_to('Sign In', new_user_session_path, :class=>"loginpanel")  %>  
                    <% end %>
                    <br/>
                    <% if user_signed_in? %>
                      <%= link_to('Edit Account', edit_user_registration_path, :class=>"loginpanel") %>
                    <% else %>
                      <%= link_to('Create Account', new_user_registration_path, :class=>"loginpanel")  %>
                    <% end %>
                </div>
                <h1><%= link_to('CS.UCHICAGO JOB POSTINGS', root_path) %></h1>
            </div>

	    <% flash.each do |key, value| -%>
	    <div class="notice"><%= value %></div>
	    <% end -%>

	    <%= yield %>

        </div>
    </body>
</html>
